#!/bin/bash

ps -ef | grep /usr/sbin/ntpd | grep -v grep >> /dev/null
CheckExit=$?

if [ $CheckExit = 0 ]; then
   echo "NTP OK - process running"

else

   echo "NTP CRITICAL - No process running!"
   exit 2

fi

